/* General CSS 

We can also use syled-components theme
*/


h2:hover{
    color: rebeccapurple;
    
}



img[alt="alttest"]{
    width: auto;
   
}

/* start with ../img/ */
img[src^="../img/"]{
    width: auto;
   
}


body{
background-color:rgba(204, 229, 255,0.4);


/* background-color: url-image

rgba(204, 229, 255,0.4) fourth paparmter is transparency from 0 to 1



*/
 ;
}

